@import '../variables';
.blog-index {
    .add-blog {
        width: 200px; // color: $heading-color;
        margin-top: 0 !important;
        margin: 60px auto;
        padding: 20px;
        border: 2px solid $theme-color;
        border-radius: 6px;
        transition: .5s;
        .add-blog-link {
            padding: 20px 50px;
        }
        &:hover {
            background-color: $theme-color; // color: $pchart-color-hover;
        }
    }
}

.addBlog {
    .container {
        margin-top: 50px;
        margin-bottom: 50px;
        .title {
            text-align: center;
            margin-bottom: 30px;
            label {
                font-size: 25px;
                font-weight: bold;
                margin-right: 20px;
                vertical-align: middle;
                margin-bottom: 0 !important;
            }
            input {
                vertical-align: middle;
                border: 1px solid #ededed;
                border-radius: 5px;
                width: 60%;
                height: 35px;
                padding: 2px 5px;
            }
        }
        .image {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            label {
                font-size: 15px;
                font-weight: bold;
                margin-right: 20px;
                vertical-align: middle;
                margin-bottom: 0 !important;
            }
            input {
                vertical-align: middle;
            }
        }
        .textEdit {
            margin-bottom: 60px;
            label {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

.pr__blog__details {
    .container {
        .blog__quote {
            .blog__img img {
                cursor: pointer;
                transition: all 0.8s;
                &:hover {
                    transform: scale(1.5);
                }
            }
        }
        .links__edit__delete a, .modal__conrfim__delete a {
            cursor: pointer;
        }

        .modal__conrfim__delete {
            display: none;
            .backgroud {
                position: fixed;
                z-index: 1000;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(129, 173, 123, 0.5);
            }
            .window {
                position: fixed;
                z-index: 1001;
                top: 128px;
                left: calc(50% - 40% / 2);
                right: calc(50% - 40% / 2);
                max-width: 40%;
                max-height: 500px;
                padding: 24px;
                background: #fefefe;
                border-radius: 4px; // background: url('../images/bg/bg_trans.png') no-repeat;
                .title {
                    font-size: 25px;
                    font-weight: bold;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
                .lang-block {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    display: flex;
                    justify-content: space-around;
                    .lang {
                        margin: 0 20px;
                        border: 2px solid $theme-color;
                        border-radius: 5px;
                        padding: 5px 10px;
                        transition: .4s;
                        cursor: pointer;
                        &:hover {
                            background: $theme-color;
                        }
                    }
                }
            }
        }
        @media only screen and (max-width: 1000px) {
            .modal-lang {
                .window {
                    left: calc(40% - 40% / 2);
                    right: calc(40% - 40% / 2);
                    max-width: 70%;
                    .lang-block {
                        display: inline;
                    }
                }
            }
        }
        .btn__blog__detail {
            padding: 0 40px;
        }
        .popular__post {
            .popular__post__imgs {
                margin: auto;
            }
        }
    }
}