.DS_Store
.vscode
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/*
!web/uploads/.gitkeep
/web/uploads/files/*
!web/uploads/files/.gitkeep
/web/uploads/images/*
!web/uploads/images/.gitkeep
/web/css/.sass-cache
/web/css/scss/.sass-cache
/web/css/scss/pages/.sass-cache
/web/css/*.map
/web/css/pages/*.map
/src/YunkunBundle/Controller/UserController.php
/app/Resources/views/test