
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###


### YunKun ###
.DS_Store
.vscode
/public/bundles/
/public/uploads/*
!public/uploads/.gitkeep
/public/uploads/files/*
!public/uploads/files/.gitkeep
/public/uploads/images/blog/*
!public/uploads/images/blog/.gitkeep
/public/css/.sass-cache
/public/css/scss/.sass-cache
/public/css/scss/pages/.sass-cache
/public/css/*.map
/public/css/pages/*.map