@import '../variables';
.profile_container {
    width: 50%;
    margin: 50px auto;
    td,
    th {
        border-top: 1px solid #ededed;
        padding: 6px 10px 6px 5%;
    }
}

.profile_edit_container {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    label {
        margin: 0 !important;
    }
    table {
        line-height: 35px;
        td,
        th {
            border-top: 1px solid #ededed;
            padding: 6px 10px 6px 5%;
        }
        input {
            border: 1px solid #ededed;
            border-radius: 5px;
            width: 60%;
            height: 35px;
            text-align: center;
        }
    }
}

@media #{$sm-layout} {
    .profile_container {
        width: 60%;
        margin: 50px auto;
    }

    .profile_edit_container {
        width: 60%;
        margin: 50px auto;
        table input {
            width: 100%;
        }
    }
}

@media #{$xs-layout} {
    .profile_container {
        width: 90%;
        margin: 50px auto;
        .profile_button {
            display: flex;
            flex-direction: column;
            a {
                margin-top: 20px;
            }
        }
        
    }

    .profile_edit_container {
        width: 90%;
        margin: 50px auto;
        table input {
            width: 100%;
        }
        .profile_button {
            display: flex;
            flex-direction: column;
            a,input {
                margin-top: 20px;
            }
        }
    }


}