
div[id^='flash_'] {
    color: $color-danger;
    text-align: center;
    padding: 50px;
    font-weight: bold;
    font-size: 20px;
}

.container-yunkun {
    max-width: 1300px !important;
}

.pr__btn {
    background: #444444 none repeat scroll 0 0;
    border-radius: $theme-radius;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 38px;
    line-height: 38px;
    padding: 0 17px;
    text-transform: uppercase;
    -webkit-transform: perspective(1px) translateZ(0px);
    transform: perspective(1px) translateZ(0px);
    -webkit-transform-origin: 0 100% 0;
    transform-origin: 0 100% 0;
    letter-spacing: 3px;
    &.btn--large {
        padding: 0 20px;
        border-radius: 6px;
    }
    &.green__btn {
        background: $theme-color none repeat scroll 0 0;
        color: #fff;
        &:hover {
            background: #444444 none repeat scroll 0 0;
            color: #fff;
        }
    }
}

.pr__btn:hover {
    background: $theme-color none repeat scroll 0 0;
    color: #fff;
}

.pr__btn:hover,
.pr__btn:focus,
.pr__btn:active {
    -webkit-animation-name: pr__btn;
    animation-name: pr__btn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.flag {
    margin-right: 10px;
}

.red__btn {
    background: $color-danger none repeat scroll 0 0 !important;
    color: #fff !important;
    &:hover {
        background: #444444 none repeat scroll 0 0 !important;
        color: #fff !important;
    }
}

.pagination {
    justify-content: center;
    margin: 30px auto;
}
.pagination>li>a,
.pagination>li>span {
    color: $heading-color !important;
}
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    background-color: $body-color !important;
    color: #ffffff !important;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: $theme-color !important;
    color: #ffffff !important;
    border: 1px solid #dddddd !important;
}

.yunkun__photos {
    .photos__list {
        img {
            width: 99%;
            opacity:0.8;
            transition: all 0.8s;
            &:active {
                transform: scale(1.5);
            }
        }
    }
}

.modal-lang {
    .backgroud {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(129, 173, 123, 0.4);
    }
    .window {
        position: fixed;
        z-index: 1001;
        top: 128px;
        left: calc(50% - 40% / 2);
        right: calc(50% - 40% / 2);
        max-width: 40%;
        max-height: 500px;
        padding: 24px;
        background: #fefefe;
        border-radius: 4px;
        // background: url('../images/bg/bg_trans.png') no-repeat;
        
        .title {
            font-size: 25px;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .lang-block {
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            justify-content: space-around;
            .lang {
                margin: 0 20px;
                border: 2px solid rgba(129, 173, 123, 0.4);
                border-radius: 5px;
                padding: 5px 10px;
                transition: .4s;
                cursor: pointer;
                &:hover {
                    background: rgba(129, 173, 123, 0.4);
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .modal-lang {
        .window {
            left: calc(40% - 40% / 2);
            right: calc(40% - 40% / 2);
            max-width: 70%;
            .lang-block {
                display: inline;
            }
        }
    }
}